

.contenedor {
    display: block;
}
.banner {
    display: flex;
    width: 100%;
    opacity: 70%;

}


.introduccion-titulo{
    color: orangered;;
    text-align: center;
    font-size: 45px;
    right: 0;
    text-shadow: 2px 2px 10px rgb(32, 32, 32)
}

.introduccion-text {
    text-align: center;
    margin: 0 5% 2%;
    font-size: 30px;
    color: white;
}

.contenedor-aliados{
    background-color: rgb(12, 71, 71);
    padding: 1%;
    text-align: center;
}

.aliados{
    padding: 0%;
}

li{
    display: inline-block;
    text-align: center;
    padding: 1.5%;
}

.imagenes-aliados {
    width: 120px;
    border-radius: 50%;
    border: 2px solid rgb(163, 159, 159);
}

.aliados li :hover{
    transform: scale(1.20);
    
}

@media screen and (max-width:500px){

    .introduccion-titulo{
        font-size: 30px;
    }

    .introduccion-text{
        font-size: 20px;
    }

    .imagenes-aliados {
        width: 80px;
    }
}



