.contenedor {
    display: block;
}
.banner {
    display: flex;
    width: 100%;
    opacity: 70%;
}

.text-introduccion{
    position: absolute;
    right: 0;
    color: black;
    font-size: 90px;
    text-align: center;
    top: 10%;
    width: 50%;
}

.contenedor-aliados{
    background-color: rgb(12, 71, 71);
    padding: 1%;
    text-align: center;
}

.aliados{
    padding: 0%;
}

.text-aliados{
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 10px;
}

li{
    display: inline-block;
    text-align: center;
    padding: 1.5%;
}

.imagenes-aliados {
    width: 120px;
    border-radius: 50%;
    border: 2px solid rgb(163, 159, 159);
}

.aliados li :hover{
    transform: scale(1.20);
    
}

@media screen and (max-width:284px){

    .introduccion {
        width: 170px;
        top: 32%;
        right: 3%;
    }
    
    .text-introduccion {
        font-size: 20px;
    }

    .text-aliados{
        font-size: 30px;
    }

    .imagenes-aliados {
        width: 80px;
    }
}

@media screen and (min-width:285px){

    .text-introduccion {
        width: 170px;
        top: 26%;
        right: 3%;
        font-size: 20px;
    }

    .text-aliados{
        font-size: 30px;
    }

    .imagenes-aliados {
        width: 80px;
    }
}

@media screen and (min-width:400px){
    
    .text-introduccion {
        font-size: 26px;
    }
}

@media screen and (min-width:600px){

    .text-introduccion {
        font-size: 45px;
        width: 290px;
        top: 19%;
        right: 3%;
    }

    .text-aliados{
        font-size: 40px;
    }

    .imagenes-aliados {
        width: 100px;
    }
}

@media screen and (min-width:800px){


    .text-introduccion {
        font-size: 55px;
        width: 400px;
    }
}

@media screen and (min-width:1000px){

    .text-introduccion {
        font-size: 70px;
        width: 450px;
    }

    
    .text-aliados{
        font-size: 50px;
    }

    .imagenes-aliados {
        width: 120px;
    }
}

@media screen and (min-width:1200px){
    .text-introduccion {
        font-size: 80px;
        top: 12%;
        width: 50%;
    }
}

